* {
  font-family: "Almarai"; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body,
dd,
dl,
ul {
  margin: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: unset; }

a:hover {
  text-decoration: none; }
